
<!-- Navbar -->

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark mb-4">
   <a class="navbar-brand h1 mt-1" (click)="goToPage('home')" href="/home"><i class="bi bi-house-lock"></i>&nbsp;&nbsp;Smart Home System&nbsp;&nbsp;</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
               <a (click)="goToPage('home')" class="nav-link" href="/home">Home <span class="sr-only"></span></a>
           </li>
           <li class="nav-item active">
               <a (click)="goToPage('desing-your-smarthome')" class="nav-link" href="/desing-your-smarthome">Design <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
               <a (click)="goToPage('monitor')" class="nav-link" href="/monitor"  >Monitor</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://192.168.255.30/">Monitor ESP</a>
             </li>
           <li class="nav-item active">
            <a class="nav-link" href="https://github.com/dawidus443/smarthome-webapp" target="">Github</a>
        </li>
       </ul>
   </div>
</nav>
 
<router-outlet></router-outlet>


<!-- Bottom Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white sticky-bottom ">
    <ul class="navbar-nav nav-justified w-100">
        <li class="nav-item">
            <a href="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/design" class="nav-link">Design</a>
        </li> 
        <li class="nav-item">
            <a href="mailto:dawidbadora@gmail.com" class="nav-link">email: dawidbadora@gmail.com</a>
        </li>  
        <li class="nav-item">
            <a href="tel:737872115" class="nav-link">Tel.: 737-872-115</a>
        </li>   
    </ul>
    
</nav>